<a href="https://colab.research.google.com/github/pat1198/CC_AC_01/blob/main/%5B20240106%5D_ANS_Coding_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding for Data Science (Day1)
##Introduction to Python programming language

##เนื้อหา


*   Introduction to Python language
*   Print
*   Arithmetic operators
*   Variables
*   List
*   String
*   Keyboard input
*   Loop
*   Selection
*   File

##แนะนำการใช้งาน Google Colab เบื้องต้น
*   Save Colab ไปยัง Google Drive ส่วนตัว โดยเลือกที่ File -> Save a copy in Drive
*   ถ้ามีปุ่ม **"Open in Playground"** อยู่ที่แถบด้านบน กรุณากดปุ่มนี้ก่อน เพื่อที่ท่านจะสามารถสั่งรันโปรแกรมบน colab ของท่านได้
*   กล่องคำสั่งจะเป็นสีเทา (หรือสีดำ) เราสามารถเขียนโปรแกรมภาษา Python ลงในกล่องคำสั่งนี้ได้
*   วิธีรัน (run): เมื่อเขียนโปรแกรมลงไปแล้ว เราสามารถสั่งรันได้โดยการกดปุ่มเพลย์ ▶️ ที่อยู่หน้ากล่องคำสั่ง หรือกดปุ่ม Shift+Enter ก็ได้
*   หากยังไม่เห็นปุ่มเพลย์ ให้เอาเม้าส์ไปคลิกที่กล่องคำสั่งก่อน ปุ่มเพลย์ก็จะปรากฏขึ้นมา
*   กล่องคำสั่งจะทำงานต่อเนื่องกันได้ก็ต่อเมื่อ run กล่องคำสั่งก่อนหน้าแล้วเท่านั้น

In [ ]:
print('Hello World')

Hello World

##แนะนำภาษา Python
* ออกแบบโดย Guido van Rossum เปิดดัวครั้งแรกในปี 1991
* เป็นภาษาในรูปแบบ Interpreted
* ภาษาโปรแกรมยอดนิยมสำหรับงานด้านวิทยาการข้อมูล (Data Science) และปัญญาประดิษฐ์ (Artificial Intelligence: AI)
*  เหมาะสำหรับผู้ที่เริ่มต้นเขียนโปรแกรม เพราะมีกฎเกณฑ์ของภาษาที่ไม่ซับซ้อน
* Version ปัจจุบันของ Python คือ version 3

##หัวข้อที่ 1: พิมพ์ข้อความออกหน้าจอ

### คำสั่ง `print`

- คำสั่งพิมพ์ข้อความในภาษา Python คือ `print`
- เช่น `print('Hello')` ก็จะแสดงข้อความว่า `Hello` ออกที่หน้าจอ
- ลองคลิกที่กล่องคำสั่งสีเทาที่อยู่ด้านล่าง แล้วกดปุ่มเพลย์ในเครื่องหมายก้ามปู `[ ]` หรือกดปุ่ม Shift+Enter เราเห็นข้อความ `Hello` ที่อยู่ในบรรทัดต่อมา

In [ ]:
print('Hello world!')

Hello world!

  - จะสังเกตได้ว่า ข้อความ `Hello` ที่เราต้องการจะให้พิมพ์ออกหน้าจอ จะอยู่ในเครื่องหมายคำพูดเดี่ยว (single quote) ในตัวโค้ดเสมอ
  - สิ่งที่อยู่ในเครื่องหมายคำพูดเดี่ยวนี้ เราเรียกว่า *สตริง* (string) ซึ่งหมายถึง "ข้อความ" นั่นเอง

### แบบฝึกหัด 1.1

คราวนี้เรามาลองพิมพ์สตริง `'สวัสดี'` ออกที่หน้าจอกันบ้าง ลองเติมข้อความดังกล่าวลงในเครื่องหมายคำพูดเดี่ยวดู

In [ ]:
print('สวัสดี')

สวัสดี

ลองเปลี่ยนสตริงดูตามใจชอบ และสังเกตผลลัพธ์ของการรันโปรแกรม

###หมายเหตุ (Comment)
- บางครั้งเราอยากใส่หมายเหตุลงไปในโค้ดเพื่อเป็นบันทึกช่วยจำ เราจะใช้สัญลักษณ์ `#` (แฮช หรือ hash) นำหน้าหมายเหตุ โดยเมื่อไรก็ตามที่ใช้เครื่องหมาย `#` สิ่งที่ตามหลังเครื่องหมายนี้จะเป็นหมายเหตุทั้งหมด เช่น

In [ ]:
print('Hello')      # แสดงข้อความ Hello ออกที่หน้าจอ

Hello

- หากเราต้องการหมายเหตุทั้งบรรทัด ให้เราใส่เครื่องหมาย `#` ที่ด้านหน้าสุด เช่น

In [ ]:
# แสดงข้อความ Hello ออกที่หน้าจอ
print('Hello')

Hello

- เวลาโปรแกรมทำงาน มันจะกระโดดข้ามส่วนที่เป็นหมายเหตุไป
- เช่น ในโค้ดด้านล่างนี้ โปรแกรมจะกระโดดข้ามบรรทัดที่ 3 ไป เพราะถูกมองเป็นหมายเหตุ

In [ ]:
print('Please')
print('Mr.')
# print('and Ms.')
print('Postman')
print('Look and See')

Please
Mr.
Postman
Look and See

### แบบฝึกหัด 1.2
ลองใส่เครื่องหมาย `#` หน้าบรรทัดต่างๆ ในโค้ด แล้วสังเกตความเปลี่ยนแปลงของผลลัพธ์

In [ ]:
#print('Hello')
#print('World')
print('My')
print('name')
print('is')
print('Peter')

My
name
is
Peter

## หัวข้อที่ 2: การคำนวณทางคณิตศาสตร์

### คำสั่งเลขคณิต (Arithmetic Operations) และนิพจน์ทางคณิตศาสตร์ (Mathematical Expression)

- เราสามารถทำการคำนวณทางคณิตศาสตร์ได้ โดยใช้เครื่องหมายบวก `+`, ลบ `-`, คูณ `*`, และหาร `/` กับตัวเลขได้
  - **ข้อสังเกต:** เราจะใช้เครื่องหมายดอกจัน `*` แทนการคูณ
- เช่น ถ้าเราสั่งให้คอมพิวเตอร์คำนวณค่าของนิพจน์ทางคณิตศาสตร์ $ 5 \times 2 + 10 $ โปรแกรมก็จะคำนวณผลลัพธ์ให้ทันที

In [ ]:
5 * 2 + 10

20

- ถ้าเราเขียนโปรแกรมเพื่อคำนวณค่าของนิพจน์ $ 10 + \frac{5}{2} $ เราจะได้ผลลัพธ์ดังนี้

In [ ]:
10 + 5 / 2

12.5

- จะสังเกตได้ว่า คอมพิวเตอร์คำนวณการหาร 5 / 2 และใส่ค่าทศนิยมให้โดยอัตโนมัติ

### แบบฝึกหัด 2.1

เรามาลองคำนวณค่าของนิพจน์ทางคณิตศาสตร์ต่อไปนี้กันดูบ้าง

$ \frac{3}{4} + \frac{1}{4} $

In [ ]:
3/4+1/4

1.0

$ 1 + 6 \times 8 - 7 $

In [ ]:
1+6*8-7

42

$ 5 \times 6 + 7 \times 8 - \frac{2}{5} $

In [ ]:
5*6+7*8-2/5

85.6

### วงเล็บในนิพจน์ทางคณิตศาสตร์

- ทั้งนี้ เราสามารถใช้เครื่องหมายวงเล็บ `( )` ได้เหมือนกับนิพจน์ทางคณิตศาสตร์
- เช่น เราสามารถคำนวณค่าของนิพจน์ $ 4 \times 3 + (1 + 2) / 4 $ ได้ด้วยคำสั่งนี้

In [ ]:
4 * 3 + (1 + 2) / 4

- ข้อแตกต่างคือ ในกรณีที่มีวงเล็บซ้อนวงเล็บ เราจะใช้เครื่องหมายวงเล็บ `( )` เสมอ <u>**ห้ามใช้**</u>เครื่องหมายก้ามปู `[ ]` และเครื่องหมายปีกกา `{ }` โดยเด็ดขาด
- เช่น ถ้าเราจะคำนวณค่าของนิพจน์ $ \left( \left[ 1 / \left\{ 2 + 3 \right\} \right] \times 4 + 5 \right) / 6 $ เราจะต้องเปลี่ยนก้ามปูและปีกกากลับมาเป็นวงเล็บก่อนเสมอ

In [ ]:
((1 / (2 + 3)) * 4 + 5) / 6

0.9666666666666667

- **หมายเหตุ:** เครื่องหมายวงเล็บมีหน้าที่เปลี่ยนลำดับการทำงาน โดยจะเริ่มทำในวงเล็บก่อนเสมอ โดยลำดับการทำงานจะเริ่มจาก (1) ทำในวงเล็บ (2) คูณและหาร (3) บวกและลบ
- เช่น ลองสังเกตผลลัพธ์ของนิพจน์ทั้งสองนี้ครับ: $ (1 + 2) \times 3 $ กับ $ 1 + (2 \times 3) $

In [ ]:
(1 + 2) * 3

9

In [ ]:
1 + (2 * 3)

7

- ทั้งนี้ขอให้ท่านระมัดระวังการใช้เครื่องหมายคูณ `*` และหาร `/` ด้วย เพราะถ้าหากไม่ระบุวงเล็บให้ชัดเจน ลำดับการคำนวณก็อาจจะไม่เป็นไปตามที่ท่านต้องการได้

### แบบฝึกหัด 2.2
เรามาลองคำนวณค่าของนิพจน์ทางคณิตศาสตร์ต่อไปนี้กัน

$ 3 \times (4 + 1 - 2 \times 5) $

In [ ]:
3 * (4 + 1 - 2 * 5)

-15

$ \frac{1 + 2 + 3}{4 + 5 + 6} $

In [ ]:
(1+2+3)/(4+5+6)

0.4

 $ 7 \times \frac{5 + 6}{7 + \frac{7}{8}} $

In [ ]:
7 * ((5 + 6) / (7 + (7 / 8)))

9.777777777777777

### เครื่องหมายยกกำลัง (Power) และการถอดราก (Root)

- เครื่องหมายยกกำลังในภาษา Python จะใช้เครื่องหมาย `**` (ดอกจันเขียนติดกัน 2 ดวง)
- เช่น ถ้าเราจะคำนวณค่าของนิพจน์ $ 2^5 $ เราจะใช้คำสั่งว่า

In [ ]:
2 ** 5

32

- เมื่อเรานำเครื่องหมายยกกำลังมาใส่ในนิพจน์ทางคณิตศาสตร์ ลำดับการทำงานจะเปลี่ยนไปตามนี้
  1. ทำในวงเล็บก่อน
  2. ทำเครื่องหมายยกกำลัง
  3. ทำเครื่องหมายคูณและหาร
  4. ทำเครื่องหมายบวกและลบ
- เช่น ลองสังเกตการคำนวณค่าของนิพจน์ 3 ตัวนี้: `(2 * 5) ** 3`, `2 * (5 ** 3)`, และ `2 * 5 ** 3`

In [ ]:
(2 * 5) ** 3

1000

In [ ]:
2 * (5 ** 3)

250

In [ ]:
2 * 5 ** 3

250

- ดังนั้นเพื่อความปลอดภัย เราจึงนิยมเขียนเครื่องหมายยกกำลัง `**` ติดกับตัวเลข เพื่อให้เป็นที่รู้กันว่า ถ้าหากไม่มีวงเล็บ เราจะเริ่มทำจากเครื่องหมายยกกำลังก่อนเสมอ เช่น เราจะเขียนนิพจน์ $ 2 \times 5^3 $ ด้วยคำสั่ง `2 * 5**3` เป็นต้น
- นอกจากนี้เรายังสามารถคำนวณค่าราก (root) ได้โดยการใช้สูตร:

$$ \sqrt[r]{a} = a^{1/r} $$

- เช่น เราสามารถคำนวณค่า $ \sqrt[3]{8} $ (รากที่ 3 ของ 8) ได้โดยคำสั่ง `8**(1/3)`

In [ ]:
8**(1/3)

2.0

### แบบฝึกหัด 2.3
เรามาคำนวณค่าของนิพจน์ดังต่อไปนี้กัน

 $ 3^{5 + 3/4} $

In [ ]:
3**(5 + (3 / 4))

553.920214840011

 $ \sqrt[2]{\left( 7 + 3 \times 4 \right)} $

In [ ]:
(7 + 3 * 4)**(1/2)

4.358898943540674

 $ \frac{5 + 6^{2.5}}{\sqrt[2]{3.5}} + 3^2 $

In [ ]:
((5 + (6**2.5))/(3.5**(1/2))) + (3**2)

58.8076767100986

## หัวข้อที่ 3: ตัวแปร

### ตัวแปร (variable)

- ตัวแปรเปรียบเสมือนที่ทดเลข เพื่อที่จะได้นำผลลัพธ์จากการคำนวณค่าของนิพจน์ที่ทดไว้ ไปใช้ต่อได้ในอนาคต
- เนื่องจากกระดาษในคอมพิวเตอร์มีขนาดใหญ่มาก เราจึงต้องจองพื้นที่สำหรับทดเลขและตั้งชื่อเอาไว้ เวลาจะหยิบสิ่งที่ทดไว้กลับมาใช้ใหม่จะได้ไม่หลงที่นั่นเอง
- เช่น เราสามารถทดค่าของ $ 2^5 $ เก็บไว้ในตัวแปร `a` และทดค่าของ $\sqrt[2]{5}$ เก็บไว้ในตัวแปร `b` เพื่อใช้ต่อในการคำนวณต่อๆ ไปได้ ซึ่งในตัวอย่างนี้เราจะคำนวณค่าของ $ a^3 + b^3 $ กัน

In [ ]:
a = 2**5               # ทดค่าไว้ในตัวแปร a
b = 5**(1/2)           # ทดค่าไว้ในตัวแปร b
a**3 + b**3

32779.1803398875

- เราสามารถพิมพ์ค่าตัวแปรออกหน้าจอได้ด้วยคำสั่ง `print` เช่นเดียวกับการแสดงข้อความ เช่น

In [ ]:
print(a)
print(b)

32
2.23606797749979

- แต่บางครั้งการตั้งชื่อตัวแปรด้วยตัวอักษรเดี่ยวๆ ก็จำยาก เดี๋ยวมาอ่านทีหลังก็อาจจะลืมอีก เราเลยนิยมตั้งชื่อตัวแปรให้เป็นคำที่อ่านแล้วจำได้ง่ายแทน เช่น `width` (ความกว้าง), `height` (ความสูง), และ `area` (พื้นที่) ดังตัวอย่างด้านล่างนี้

In [ ]:
width = 40
height = 30
area = width * height
print(area)

- หากชื่อตัวแปรประกอบด้วยหลายคำ ให้ใช้เครื่องหมาย _ (ขีดเส้นใต้ หรือ underscore) คั่นระหว่างคำ เพื่อให้อ่านง่ายขึ้น เช่น `area_of_triangle` พื้นที่สามเหลี่ยม เป็นต้น

In [ ]:
width = 40
height = 30
area_of_triangle = 1/2 * width * height
print(area_of_triangle)

- นอกจากนี้คำสั่ง `print` ยังสามารถพิมพ์ค่าออกหน้าจอได้หลายๆ อันพร้อมกัน เช่น

In [ ]:
width = 40
height = 30
area_of_triangle = 1/2 * width * height
print('width =', width, 'and height =', height)
print('area = 1/2 * width * height =',area_of_triangle)

width = 40 and height = 30
area = 1/2 * width * height = 600.0

### แบบฝึกหัด 3.1
1. ทดลองกำหนดค่าในตัวแปร `a`, `b`, และ `c` ในโค้ดด้านล่าง แล้วสังเกตความเปลี่ยนแปลงของผลลัพธ์

In [ ]:
a = 10
b = 20
c = 30
mean = (a + b + c) / 3
print(mean)

20.0

2. ตัวแปร `mean` ในโค้ดด้านบนคือค่าอะไร? ทำไมจึงต้องตั้งชื่อตัวแปรแบบนี้?

3. จงเขียนโค้ดลงในช่องว่างให้สมบูรณ์ เพื่อคำนวณค่าเฉลี่ยฮาร์โมนิก (harmonic mean) ของตัวแปร `a`, `b`, และ `c` โดยค่าเฉลี่ยฮาร์โมนิกมีสูตรดังนี้

$$ \mathrm{hmean}(a, b, c) = \frac{3}{\frac{1}{a} + \frac{1}{b} + \frac{1}{c}} $$

In [ ]:
a = 10
b = 20
c = 30
hmean = 3/((1/a) + (1/b) + (1/c))   # เติมโค้ดที่นี่
print(hmean)

16.363636363636363

4. ทดลองเปลี่ยนค่าตัวแปร `a`, `b`, และ `c` และสังเกตความเปลี่ยนแปลงของผลลัพธ์

5. เขียนโค้ดเพื่อคำนวณปริมาตรของทรงรี (ellipsoid) จากตัวแปรต่อไปนี้
  - ความกว้างเก็บอยู่ในตัวแปร `width`
  - ความยาวเก็บอยู่ในตัวแปร `length`
  - ความลึกเก็บอยู่ในตัวแปร `depth`

  สูตรของปริมาตรทรงรีมีดังนี้

$$ \mathtt{volume} = \frac{4}{3} \times \pi \times \mathtt{width} \times \mathtt{length} \times \mathtt{depth} $$

In [ ]:
pi = 3.1415926   # ค่า 𝜋 (ไพ)

# กำหนดความกว้างในตัวแปร width ให้เท่ากับ 20
width = 20

# กำหนดความยาวในตัวแปร length ให้เท่ากับ 30
length = 30

# กำหนดความลึกในตัวแปร depth ให้เท่ากับ 40
depth = 40

# คำนวณปริมาตรของทรงรีแล้วเก็บในตัวแปร volume
volume = 4/3 * pi * width * length * depth

# พิมพ์ค่าในตัวแปร volume
print(volume)

100530.9632

### ตัวแปรอื่นๆ ในภาษา Python
|Name|Type|Examples|
|:----|:---|:---|
|Boolean |bool |`True, False`|
|Integer |int| `47, 25000, 25_000`|
|Floating point|float| `3.14, 2.7e5`|
|Complex |complex|`3j, 5 + 9j`|
|Text string| str|` 'alas', "alack", '''a verse attack'''`|
|List |list|` ['Winken', 'Blinken', 'Nod']`|
|Tuple |tuple | `(2, 4, 8)` |
|Bytes| bytes | `b'ab\xff'`|
|Byte Array |bytearray|  `bytearray(...)`|
|Set| set |`set([3, 5, 7])`|
|Frozen set |frozenset| `frozenset(['Elsa', 'Otto'])`|
|Dictionary |dict|`{'game': 'bingo', 'dog': 'dingo', 'drummer': 'Ringo'}`|

## หัวข้อที่ 4: รายการข้อมูล

### ลิสต์ (list)
- ลิสต์ (list) คือรายการของข้อมูลที่เราสามารถปรับเปลี่ยนรายการได้ตลอดเวลา
- ลิสต์ใช้สัญลักษณ์ `[ ]` คั่นด้วยเครื่องหมายคอมมา `,`
- เช่น ลิสต์ของความสูงนักเรียนในกลุ่ม 5 คน มีดังนี้

In [ ]:
[163.5, 150.0, 167.0, 161.25, 170.0]

[163.5, 150.0, 167.0, 161.25, 170.0]

- เราสามารถนำลิสต์มาเก็บในตัวแปรได้ ทำให้ตัวแปรเดียวสามารถเก็บค่าไว้ได้หลายค่า เช่น

In [ ]:
# ลิสต์ความสูงของนักเรียนในกลุ่ม
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]
print('student heights =', student_heights)

student heights = [163.5, 150.0, 167.0, 161.25, 170.0]

### แบบฝึกหัด 4.1
ลองสร้างลิสต์จากรายการสมาชิกดังต่อไปนี้ `[10, 20, 30, 40, 50]` แล้วเก็บลงในตัวแปร `my_list`

In [ ]:
my_list = [10, 20, 30, 40, 50]  # เติมโค้ดที่นี่
print(my_list)

[10, 20, 30, 40, 50]

### ขนาดของลิสต์
- เราสามารถหาขนาดของลิสต์ได้ด้วยคำสั่ง `len` ซึ่งย่อมาจากคำว่า length เช่น

In [ ]:
len(student_heights)

5

### แบบฝึกหัด 4.2
จงหาขนาดของลิสต์ในตัวแปร `my_list` ใส่ตัวแปร `my_length` แล้วพิมพ์ค่าของตัวแปรดังกล่าวออกหน้าจอ

In [ ]:
my_length = len(my_list)   # เติมโค้ดที่นี่
print(my_length)

5

### การเข้าถึงสมาชิกภายในลิสต์
- เราสามารถเข้าถึงสมาชิกแต่ละตัวในลิสต์ด้วยการระบุตำแหน่งของสมาชิกที่เราต้องการ
- การนับตำแหน่ง (index) ของสมาชิก จะเริ่มต้นจาก 0 เสมอ เช่น `student_heights[0]` จะแทนสมาชิกตัวแรกของลิสต์ความสูงของนักเรียน ในขณะที่ `student_heights[1]` จะแทนสมาชิกตัวที่ 2 ของลิสต์ ฯลฯ

In [ ]:
print(student_heights[0])
print(student_heights[1])
print(student_heights[2])
print(student_heights[3])
print(student_heights[4])

163.5
150.0
167.0
161.25
170.0

- หากเราระบุตำแหน่งเกินจากขนาดของลิสต์ โปรแกรมจะฟ้องออกมาด้วยคำว่า `IndexError` ซึ่งแปลว่าระบุค่าตำแหน่งเกินขนาดของลิสต์ เช่น

In [ ]:
print(student_heights[10])     # ลิสต์ student_heights มีขนาดแค่ 5 ตัว

IndexError: list index out of range

### การเปลี่ยนแปลงสมาชิกภายในลิสต์
- เราสามารถเปลี่ยนแปลงสมาชิกภายในลิสต์ โดยการใช้เครื่องหมาย `=` เหมือนกับการกำหนดค่าในตัวแปร
- เช่น เราสามารถเปลี่ยนสมาชิกตัวที่ 2 ของลิสต์ `student_heights` จากค่า 150.0 ให้เป็นค่า 180.0 ได้

In [ ]:
student_heights[1] = 180.0
print(student_heights)

[163.5, 180.0, 167.0, 161.25, 170.0]

### การเลือกบางส่วนของลิสต์ (slicing)
- นอกจากเราจะสามารถเลือกสมาชิกบางตัวในลิสต์ได้แล้ว เรายังสามารถเลือกบางส่วนของลิสต์ได้ด้วย
- **คำสั่งเลือกบางส่วน (slicing):** `ลิสต์[` $a$ `:` $b$ `]` จะเลือกสมาชิกตั้งแต่ index ที่ $a$ จนถึง index ที่ $b - 1$
- เช่น ถ้าเราต้องการเลือกสมาชิกตั้งแต่ตัวที่ 2 จนถึงตัวที่ 4 ของลิสต์ในตัวแปร `student_heights` เราจะใช้คำสั่ง `student_heights[1:4]`

In [ ]:
student_heights

[163.5, 180.0, 167.0, 161.25, 170.0]

In [ ]:
student_heights[1:4]

[180.0, 167.0, 161.25]

- คำสั่งเลือกบางส่วนสามารถละจุดจบได้ด้วย `ลิสต์[` $a$ `:]`
- เช่น เราจะเลือกสมาชิกตั้งแต่ตัวที่ 2 เป็นต้นไปในลิสต์ `student_heights` ด้วยคำสั่ง `student_heights[1:]`

In [ ]:
student_heights[1:]

[180.0, 167.0, 161.25, 170.0]

- คำสั่งเลือกบางส่วนสามารถละจุดตั้งต้นได้ด้วย `ลิสต์[:` $b$ `]`
- เช่น เราจะเลือกสมาชิกตั้งแต่ตัวแรกจนถึงตัวที่ 4 ด้วยคำสั่ง `student_heights[:4]`

In [ ]:
student_heights[:4]

[163.5, 180.0, 167.0, 161.25]

### แบบฝึกหัด 4.3
ในแบบฝึกหัดนี้ เรามีลิสต์ `my_list` ที่มีสมาชิก 10 ตัวดังนี้

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
#             1    2    3    4    5   6    7    8    9    10

1. จงเลือกสมาชิกตัวที่ 3 จนถึงตัวที่ 7

In [ ]:
my_list[2:7]

[30, 40, 50, 60, 70]

2. จงเลือกสมาชิกตัวที่ 2 จนถึงตัวที่ 5

In [ ]:
my_list[1:5]

[20, 30, 40, 50]

3. จงเลือกสมาชิกตั้งแต่ตัวแรกจนถึงตัวที่ 8

In [ ]:
my_list[:8]

[10, 20, 30, 40, 50, 60, 70, 80]

4. จงเลือกสมาชิกตั้งแต่ตัวที่ 4 เป็นต้นไป

In [ ]:
my_list[3:]

[40, 50, 60, 70, 80, 90, 100]

### การเพิ่มสมาชิกในลิสต์ด้วยคำสั่ง `append`
- **คำสั่ง `append`:** เราจะนำสมาชิกใหม่ต่อท้ายลิสต์ด้วยคำสั่ง `ลิสต์.append(` $e$ `)` เมื่อ $e$ คือสมาชิกใหม่ตัวนั้น
- เช่น เราสามารถต่อท้ายตัวเลข 1 ถึง 5 ที่ท้ายลิสต์ `my_numbers` ได้ดังนี้

In [ ]:
my_numbers = [11, 12, 13, 14, 15]

print(my_numbers)

my_numbers.append(1)
my_numbers.append(2)
my_numbers.append(3)
my_numbers.append(4)
my_numbers.append(5)

print(my_numbers)

[11, 12, 13, 14, 15]
[11, 12, 13, 14, 15, 1, 2, 3, 4, 5]

### การเพิ่มสมาชิกในลิสต์ด้วยคำสั่ง `insert`
- **คำสั่ง `insert`:** เราจะแทรกสมาชิกใหม่เข้าไปใน index ที่กำหนดด้วยคำสั่ง `ลิสต์.insert(` $i$ `,` $e$ `)` เมื่อ $i$ คือ index ที่เราจะแทรกสมาชิกใหม่ลงไป และ $e$ คือสมาชิกใหม่ตัวนั้น

In [ ]:
my_numbers = [20, 40, 60, 80, 100]
print(my_numbers)
my_numbers.insert(2, 70)
print(my_numbers)

[20, 40, 60, 80, 100]
[20, 40, 70, 60, 80, 100]

In [ ]:
a = [1,2,3,[4,5,6]]
b = [4,5,6]
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

### การเพิ่มสมาชิกในลิสต์ด้วยคำสั่ง `extend`
- นอกจากนี้เรายังสามารถเพิ่มเติมสมาชิกจากลิสต์อื่นเข้าไปต่อท้ายลิสต์ที่เราสนใจได้ด้วยคำสั่ง `ลิสต์ปลายทาง.extend(ลิสต์ต้นทาง)`
- ข้อแตกต่างสำคัญระหว่าง `extend` กับ `append` ก็คือ `extend` จะนำสมาชิกทุกตัวในลิสต์ต้นทางมาต่อท้ายลิสต์ปลายทาง ส่วน `append` จะนำสมาชิกหนึ่งตัวมาต่อท้ายลิสต์
- เช่น เราสามารถเพิ่มสมาชิกจากลิสต์ `[11, 12, 13, 14, 15]` ไปต่อท้ายลิสต์ `my_list` ได้ด้วยโปรแกรมนี้

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list2 = [1, 2, 3, 4, 5]
new_list = [11, 12, 13, 14, 15]

my_list.extend(new_list)
my_list2.append(new_list)
print(my_list)
print(my_list2)

[1, 2, 3, 4, 5, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, [11, 12, 13, 14, 15]]

### การลบสมาชิกในลิสต์ด้วยคำสั่ง `del`
- เราสามารถลบสมาชิกในลิสต์ได้ด้วยคำสั่ง `del`
- เช่น เราสามารถลบสมาชิกที่ index ที่ 2 ออกจากลิสต์ `my_numbers` ได้ด้วยคำสั่ง `del my_numbers[2]` ดังนี้

In [ ]:
my_numbers = [11, 12, 13, 14, 15]
del my_numbers[2]
print(my_numbers)

[11, 12, 14, 15]

- นอกจากนี้เรายังสามารถลบสมาชิกออกจากลิสต์แบบเป็นช่วงๆ ได้ด้วย
- เช่น เราสามารถลบสมาชิก index ที่ 1 ถึง 3 ออกจากลิสต์ `my_numbers` ได้ดังนี้

In [ ]:
my_numbers = [11, 12, 13, 14, 15]
del my_numbers[1:4]
print(my_numbers)

[11, 15]

### การเรียงลำดับสมาชิกในลิสต์
- ในภาษา Python จะมีคำสั่งสำหรับเรียงลำดับสมาชิกในลิสต์อยู่ 2 คำสั่งคือ `sort` และ `sorted`
- **คำสั่ง `ลิสต์.sort()`** จะเรียงลำดับสมาชิกภายในลิสต์โดยจะทับลิสต์ตัวเดิม
- ทั้งนี้โปรดสังเกตว่า เราจะใช้คำสั่ง `sort` นี้ต่อท้ายลิสต์ที่เราต้องการ

In [ ]:
items = [3, 8, 5, 10, 2, 9, 7, 6, 3, 8, 1, 4]
items.sort()
print(items)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 8, 9, 10]

- ในขณะที่ **คำสั่ง `sorted()`** จะสร้างลิสต์ใหม่ที่เป็นผลลัพธ์จากการเรียงลำดับสมาชิกในลิสต์ตัวเดิม
- ทั้งนี้โปรดสังเกตว่า เราจะใช้คำสั่ง `sorted` คร่อมลิสต์ที่เราต้องการ

In [ ]:
old_items = [3, 8, 5, 10, 2, 9, 7, 6, 3, 8, 1, 4]
new_items = sorted(old_items)
print('Old items:', old_items)
print('New items:', new_items)

Old items: [3, 8, 5, 10, 2, 9, 7, 6, 3, 8, 1, 4]
New items: [1, 2, 3, 3, 4, 5, 6, 7, 8, 8, 9, 10]

- เราสามารถระบุทิศทางของการเรียงลำดับสมาชิกให้เรียงย้อนหลังได้ด้วยออพชั่น `reverse=True`

In [ ]:
items = [3, 8, 5, 10, 2, 9, 7, 6, 3, 8, 1, 4]
items.sort(reverse=True)
sorted_items = sorted(items, reverse=True)
print(items)
print(sorted_items)

[10, 9, 8, 8, 7, 6, 5, 4, 3, 3, 2, 1]
[10, 9, 8, 8, 7, 6, 5, 4, 3, 3, 2, 1]

## หัวข้อที่ 5: ข้อความ

- ในกิจกรรม 1 เราได้ทดลองพิมพ์ข้อความออกหน้าจอกันไปแล้ว
- จริงๆ แล้ว ข้อความ (string) ก็เป็นข้อมูลรูปแบบหนึ่งที่เราสามารถประมวลผลได้และทดไว้ในตัวแปรได้เช่นเดียวกัน
- เช่น เราสามารถเก็บข้อความ `'Hello'` ไว้ในตัวแปร `message` ได้

In [ ]:
message = 'Hello'
print(message)
type(message)

Hello

str

### การต่อข้อความ
- เราสามารถนำข้อความ 2 อันมาต่อกันได้ด้วยเครื่องหมาย `+`
- เช่น เราจะต่อข้อความในตัวแปร `message1` และ `message2` เข้าด้วยกันได้ดังนี้

In [ ]:
message1 = 'Hello '
message2 = 'World!'
message = message1 + message2
print(message)

a = 5

print(message1+message2+str(a))

Hello World!
Hello World!5

### การทำซ้ำข้อความ
- นอกจากนี้เรายังสามารถทำซ้ำข้อความได้ด้วยเครื่องหมาย `*`
- เช่น ถ้าเราต้องการทำซ้ำข้อความ `hello` 3 รอบ เราจะทำอย่างนี้ครับ

In [ ]:
print(3 * 'hello ')

hello hello hello

### แบบฝึกหัด 5.1
จงสร้างตัวแปร 2 ตัว

- `message1` เก็บข้อความ `'Hello '`
- `message2` เก็บข้อความ `'World '`

หลังจากนั้นให้ทำซ้ำ `message1` 3 ครั้ง และ `message2` 5 ครั้ง นำผลลัพธ์ทั้งสองอันมาต่อกัน แล้วนำมาเก็บในตัวแปร `message3`

In [ ]:
message1 = 'Hello '
message2 = 'World '
message3 = (3*message1)+(5*message2 )
print(message3)

Hello Hello Hello World World World World World

### ข้อความในฐานะของลิสต์
- ในภาษา Python ข้อความคือลิสต์ของตัวอักษร
- เราสามารถเข้าถึงตัวอักษรสมาชิกแต่ละตัวในข้อความได้

In [ ]:
message = 'hello'
print(message[0])
print(message[1])
print(message[2])
print(message[3])
print(message[4])

h
e
l
l
o

- นอกจากนี้ เรายังสามารถเลือกบางส่วนของข้อความมาได้ด้วย เหมือนอย่างที่เราเลือกบางส่วนของลิสต์
- เช่น เราสามารถเลือกตั้งแต่ตัวอักษร index ที่ 1 จนถึง index ที่ 3 ได้ด้วยคำสั่งนี้

In [ ]:
message[1:4]

'ell'

- แต่ทั้งนี้เราไม่สามารถแก้ไขสมาชิกในข้อความได้นะครับ

In [ ]:
message[1] = 'E'

TypeError: 'str' object does not support item assignment

###การจัดฟอร์แมตของข้อความ
- เราสามารถจัดรูปแบบของข้อความก่อนที่จะแสดงผลได้

- วิธีการคือ เราจะใช้สัญลักษณ์ `f` นำหน้าข้อความที่เราต้องการจะให้จัดรูปแบบ ซึ่งสัญลักษณ์ `f` ย่อมาจากคำว่า format (รูปแบบ) นั่นเอง

- ข้อดีของการใช้สัญลักษณ์ `f` นำหน้าสตริงก็คือ เราสามารถแทรกค่าตัวแปรลงไปตำแหน่งใดของข้อความก็ได้ เพียงแค่ครอบตัวแปรด้วยปีกกา `{ }` เท่านั้น

In [ ]:
name = 'Peter'
telno = '533-7855'
age = 27
degree = 'high-school'

print(f'My name is {name:10} and I am {age} years old. I am still a {degree} student and my phone number is {telno}.')

My name is Peter      and I am 27 years old. I am still a high-school student and my phone number is 533-7855.

### การกำหนดความกว้างของข้อความและตัวแปร
- ในกรณีของข้อความ เราสามารถระบุความกว้างสูงสุดของข้อความได้ด้วยคำสั่ง `{ตัวแปรสตริง:ความกว้าง}`
- ในการจัดฟอร์แมตให้ตัวเลข เราสามารถระบุชนิดของตัวเลขได้ที่หลังความกว้างของข้อความ
  - ตัวเลขจำนวนเต็มจะใช้ออพชั่น `d` ตามหลังตัวเลข
  - ตัวเลขจำนวนจริงจะใช้ออพชั่น `f` ตามหลังตัวเลข
  - ในกรณีที่เป็นตัวเลขจำนวนจริง เราสามารถระบุได้ทั้งความกว้างและจำนวนหลักทศนิยม โดยใช้รูปแบบเป็น `ความกว้าง.จำนวนหลักทศนิยมf`

 - <u>**ข้อควรระวัง:**</u> ความกว้างตรงนี้เป็นความกว้างทั้งหมด ซึ่งรวมเอาจุดทศนิยมและหลักทศนิยมเข้าไปแล้ว ท่านจึงควรระมัดระวังตอนกำหนดความกว้างทั้งหมดให้ดี

 - เช่น เราสามารถแสดงคะแนนของนักเรียน `score` ให้มีความกว้าง 10 ตัวอักษร และมีทศนิยม 2 ตำแหน่งได้โดยใช้ฟอร์แมต `{score:10.2f}`

- โดยปกติแล้ว ข้อความจะถูกแสดงผลแบบชิดซ้ายเสมอ
- แต่เราสามารถกำหนดให้จัดสตริงไปทางซ้าย กลาง หรือขวาได้ ด้วยออพชั่น `<`, `^`, และ `>` ที่ด้านหน้าความกว้างของข้อความ

In [ ]:
peter = ['Peter', 27, 70.3]
alex = ['Alex', 29, 83.26]

print(f'|{"Name":^10}|{"Age":^10}|{"Score":^10}|')
print(34*'-')
print(f'|{peter[0]:<10}|{peter[1]:^10d}|{peter[2]:^10.2f}|')
print(f'|{alex[0]:<10}|{alex[1]:^10d}|{alex[2]:^10.2f}|')

|   Name   |   Age    |  Score   |
----------------------------------
|Peter     |    27    |  70.30   |
|Alex      |    29    |  83.26   |

## หัวข้อที่ 6: การรับข้อมูลผ่านคีย์บอร์ด

- เราสามารถรับอินพุตจากคีย์บอร์ดได้ด้วยคำสั่ง `input` แต่เวลาสั่งคำสั่งนี้แล้ว จะต้องหาตัวแปรมาเก็บค่าอินพุตที่รับมาด้วยเสมอ

In [ ]:
my_name = input('Enter your name: ')      # ใส่ข้อความเตือนผู้ใช้ที่ตรงนี้
print('Hello,', my_name)

Enter your name: ping
Hello, ping

- ค่าที่รับมาได้จะอยู่ในรูปข้อความ (string) เสมอ
- หากเราต้องการรับค่าตัวเลข เราจำเป็นต้องแปลงข้อความกลับมาเป็นตัวเลขด้วยคำสั่ง `int` และ `float` ตามลำดับครับ
  - คำสั่ง `int` จะแปลงข้อความเป็นจำนวนเต็ม เช่น 10, 20, 30
  - คำสั่ง `float` จะแปลงข้อความเป็นจำนวนจริง เช่น 0.25, 3.5, 10.0

In [ ]:
my_salary_str = input('Enter your salary: ')
try:
  my_salary = int(my_salary_str)                       # ต้องแปลงข้อความให้เป็นจำนวนเต็มก่อน
  next_year_salary = my_salary + (my_salary * 0.1)     # จึงจะนำค่ามาคำนวณได้
  print('Salary in next year ', next_year_salary)
except:
  print('Enter wrong input format')

Enter your salary: 10000a
Enter wrong input format

- ลองรันโปรแกรมด้านบนใหม่อีกรอบ แต่คราวนี้ใส่เป็นข้อความที่ไม่ใช่จำนวนเต็มดูบ้างครับ เช่น `'Hello'` หรือ `100.5` โปรแกรมจะระเบิดทันที
- ที่โปรแกรมฟ้องว่า `ValueError` นั้นหมายความว่า โปรแกรมไม่สามารถแปลงข้อความให้กลายเป็นตัวเลขได้นั่นเอง

### แบบฝึกหัด 6.1
จงเขียนโปรแกรมเพื่อรับข้อมูล 2 ตัวได้แก่ ความว้าง และความยาวของรูปสี่เหลี่ยม
หลังจากนั้น คำนวณพื้นที่ของรูปสี่เหลี่ยม และแสดงผลออกทางหน้าจอ

$$ \mathtt{area} =  \mathtt{width} \times \mathtt{height} $$

In [ ]:
width = float(input('Please enter width: '))
height = float(input('Please enter heigth: '))
area = width*height
print('Area of rectangle =',area)

Please enter width: 3.5
Please enter heigth: 6.2
Area of rectangle = 21.7

## หัวข้อที่ 7: การวนซ้ำ

- เราสามารถใช้วิธีการวนลูป (loop) เพื่อทำกระบวนการเดิมซ้ำๆ ได้

### ลูปฟอร์ (for-loop)
- ลูปฟอร์ (for-loop) ใช้สำหรับทำกระบวนการเดิมซ้ำๆ กับสมาชิกแต่ละตัวในลิสต์ <u>**ตามลำดับ**</u>
  - รูปแบบคำสั่งของลูปฟอร์คือ
```python
    for <ตัวแปร> in <ลิสต์> :
        <กระบวนการ>
```
  - คำสั่งนี้จะแทนสมาชิกแต่ละตัวในลิสต์ด้วยตัวแปรที่กำหนด แล้วจึงทำซ้ำกระบวนการนี้จนกว่าจะใช้สมาชิกครบทุกตัวตามลำดับ
  
- เช่น ถ้าเราต้องการพิมพ์สมาชิกแต่ละตัวในลิสต์ `student_heights` ออกมา เราจะสั่งคำสั่งดังนี้

In [ ]:
# ลิสต์ความสูงของนักเรียนในกลุ่ม
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

# สมาชิกแต่ละตัวของลิสต์ student_heights จะแทนด้วยตัวแปร height
for height in student_heights:
    # พิมพ์ค่าของตัวแปร height ออกหน้าจอ
                print('Height is: ')
                print(height)

print('That is all.')

Height is:
163.5
Height is:
150.0
Height is:
167.0
Height is:
161.25
Height is:
170.0
That is all.

- ข้อสังเกต กระบวนการที่เราต้องการทำซ้ำคือ `print(height)` จะต้องมีย่อหน้าถัดเข้าไป

### กฎการย่อหน้าของภาษาไพธอน

- กระบวนการที่เราต้องการทำซ้ำในลูปทุกชนิด จะต้องย่อหน้าถัดเข้าไปทางขวาเสมอ
- ขนาดของย่อหน้าที่นิยมกันคือ เคาะ spacebar 4 ครั้ง
- เมื่อไรก็ตามที่ย่อหน้ากลับออกมาทางซ้าย จะถือว่าจบลูปแล้ว

### แบบฝึกหัด 7.1

1. พิมพ์สมาชิกแต่ละตัวในลิสต์ `my_list` ออกหน้าจอโดยใช้ลูปฟอร์และคำสั่ง `print`

In [ ]:
my_list = ['hello', 'my', 'name', 'is', 'prasitthichai']

# ลูปฟอร์
for x in my_list:
  print(x)

hello
my
name
is
prasitthichai

2. เพิ่มค่าสมาชิกแต่ละตัวในลิสต์ `my_numbers` ตัวละ 10 และพิมพ์ออกหน้าจอ

In [ ]:
my_numbers = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# ลูปฟอร์
for number in my_numbers:
    print(number+10)

110
100
90
80
70
60
50
40
30
20

### ช่วงจำนวน (range)
- บางครั้งเราจำเป็นต้องวนลูปฟอร์บนเลขตำแหน่ง index ด้วย
- เราสามารถใช้คำสั่ง `range(` $a$ `,` $b$ `)` เพื่อสร้างช่วงจำนวนในลูปฟอร์ได้ โดย $a$ จะเป็นค่า index เริ่มต้นและ $b - 1$ จะเป็นค่าสุดท้าย เช่น

In [ ]:
for i in range(len(my_numbers)):
    print('number', i+1, '=',my_numbers[i])

number 1 = 100
number 2 = 90
number 3 = 80
number 4 = 70
number 5 = 60
number 6 = 50
number 7 = 40
number 8 = 30
number 9 = 20
number 10 = 10

- หากเราละค่า $a$ ไป เหลือเพียง `range(` $b$ `)` ช่วงจำนวนจะเริ่มต้นจาก 0 และสิ้นสุดที่ $b - 1$

In [ ]:
for i in range(20):
    print('i =', i)

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
i = 10
i = 11
i = 12
i = 13
i = 14
i = 15
i = 16
i = 17
i = 18
i = 19

- นอกจากนี้เรายังสามารถกำหนดขนาดของก้าว (step) ในการสร้างช่วงจำนวนได้ โดยใช้คำสั่ง `range(` $a$ `,` $b$ `,` $c$ `)` เมื่อค่า $c$ คือขนาดของก้าว

In [ ]:
# ก้าวมีขนาดเท่ากับ 2
for i in range(0, 20, 2):
    print('i =', i)

i = 0
i = 2
i = 4
i = 6
i = 8
i = 10
i = 12
i = 14
i = 16
i = 18

- ข้อดีของการใช้คำสั่ง `range` ที่กำหนดขนาดของก้าวได้ ก็คือ เราสามารถไล่ index ย้อนหลังได้ด้วย เช่น

In [ ]:
# ก้าวมีขนาดติดลบ แปลว่าเดินถอยหลัง
for i in range(10, 0, -1):
    print(i)

# สังเกตว่าลูปฟอร์จะหยุดทำงานเมื่อค่า index i = 0 ทำให้ไม่พิมพ์ค่า 0 ออกมาทางหน้าจอ

10
9
8
7
6
5
4
3
2
1

### แบบฝึกหัด 7.2

1. จงวนลูปค่า index `i` จากค่า 1 ถึง 20 แล้วพิมพ์ค่าของ `2 * i` ออกมาทางหน้าจอ

In [ ]:
# วนลูปค่า index i จาก 1 ถึง 20
for i in range(1,21):
    # พิมพ์ค่า 2 * i ออกทางหน้าจอ
    print(2*i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

2. จงวนลูปค่า index `i` จากค่า 100 จนถึง 10 แล้วพิมพ์ค่า `i / 10` ออกมาทางหน้าจอ

In [ ]:
# วนลูปค่า index i จาก 100 จนถึง 10
for i in range(100,9,-10):
    # พิมพ์ค่า i / 10 ออกมาทางหน้าจอ
    print(i/10)

10.0
9.0
8.0
7.0
6.0
5.0
4.0
3.0
2.0
1.0

3. จงวนลูปค่า index `i` จากค่า 0 ถึง `len(student_heights) - 1` และแปลงหน่วยความสูงของนักเรียนแต่ละคนจากหน่วยเซนติเมตรเป็นหน่วยเมตร [คำใบ้: 100 เซนติเมตร = 1 เมตร]

In [ ]:
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_heights)):
    print(f'{student_heights[i]/100:.2f}')

1.64
1.50
1.67
1.61
1.70

4. จงวนลูปเพื่อแสดงสูตรคูณแม่ 3 ไล่ตั้งแต่ $3 \times 1$ จนถึง $3 \times 12$ โดยจะได้ผลลัพธ์ดังนี้

```
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
:
:
:
3 * 12 = 36
```

In [ ]:
# วนลูปค่า index i จาก 1 ถึง 12
for i in range(1,13):
    print(f'3 * {i:>2} = {3*i}')

3 *  1 = 3
3 *  2 = 6
3 *  3 = 9
3 *  4 = 12
3 *  5 = 15
3 *  6 = 18
3 *  7 = 21
3 *  8 = 24
3 *  9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

### ลูปซ้อนลูป (loop embedding)
- เราสามารถเขียนลูปซ้อนลูปได้ด้วย หากว่าโปรแกรมของเรามีความซับซ้อนกว่าลูปเดียว
- เช่น เราสามารถวนลูปเพื่อไล่สูตรคูณแม่ 3 ถึงแม่ 5 ได้ดังนี้

In [ ]:
# วนลูป index m เพื่อไล่แม่สูตรคูณจากแม่ 3 ถึงแม่ 5
for m in range(3, 6):
    print('Multiplication of', m)
    # วนลูป index i เพื่อไล่ตัวคูณจาก 1 ถึง 12
    for i in range(1, 13):
        print(m, '*', i, '=', m * i)
    # พิมพ์บรรทัดใหม่คั่นระหว่างแม่
    print()

Multiplication of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

Multiplication of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

Multiplication of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

- ข้อสังเกตจากการวนลูปฟอร์ในการไล่แม่สูตรคูณก็คือ
  1. ในลูปนอก เราจะวนลูป index ของแม่สูตรคูณก่อน เช่น แม่ 3 ถึงแม่ 5 เป็นต้น
  2. ส่วนลูปข้างใน เราจะวนลูป index ของตัวคูณในแต่ละแม่ คือตั้งแต่ 1 ถึง 12
- นั่นแสดงว่า ถ้าเราจะเขียนโปรแกรมที่สลับซับซ้อนได้ เราจะต้องแยกแยะและถอดลูปออกเป็นชั้นนอกและชั้นในให้ออก

### แบบฝึกหัด 7.3

1. จงเขียนโปรแกรมเพื่อไล่แม่สูตรคูณจากแม่ 11 ถึงแม่ 15 โดยแต่ละแม่จะคูณกับตัวเลขตั้งแต่ 1 จนถึง 12

In [ ]:
for m in range(11,16):
    for i in range(1,13):
        print(f'{m} * {i} = {m*i}')
    print()

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
13 * 11 = 143
13 * 12 = 156

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140
14 * 11 = 154
14 * 12 = 168

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
15 * 11 = 165
15 * 12 = 180

2. จงเขียนโปรแกรมเพื่อแสดงจัตุรัสตัวเลข 1 ถึง 9 โดยใช้ลูปซ้อนกัน 2 ลูป ซึ่งผลลัพธ์จะเป็นดังต่อไปนี้

```
1 2 3
4 5 6
7 8 9
```


   **หมายเหตุ:** เราสามารถระบุให้คำสั่ง `print` ไม่ต้องขึ้นบรรทัดใหม่หลังจากพิมพ์ค่าออกหน้าจอได้ด้วยการระบุ `end=''` ไว้ในวงเล็บของ `print`

In [ ]:
for i in range(1,8,3):
  for j in range(i,i+3):
    print(j, end=' ')
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
my_list = ['a', 'b', 'c']

for i, data in enumerate(my_list):
  print(f'list index {i} = {data}')

list index 0 = a
list index 1 = b
list index 2 = c

- ข้อจำกัดสำคัญของลูปฟอร์คือ มันจะไล่ลูปสมาชิกในลิสต์เท่านั้น ทำให้บางครั้งก็ไม่สะดวก หากเราต้องทำซ้ำกระบวนการบนสมาชิกตัวเดิมในลิสต์ตามเงื่อนไขที่กำหนด

### ลูปไวล์ (while-loop)
- คำสั่งลูปไวล์ (while-loop) จะตรวจสอบเงื่อนไขที่กำหนด หากเป็นไปตามเงื่อนไข ก็จะทำซ้ำกระบวนการนั้นไปเรื่อยๆ จนกว่าเงื่อนไขนั้นจะไม่เป็นจริง
  - รูปแบบของลูปไวล์เป็นดังนี้
```python
    while <เงื่อนไข> :
        <กระบวนการ>
```
  - ความหมายของคำสั่งนี้คือ <u>**ตราบเท่าที่**</u> เงื่อนไขนี้เป็นจริง ก็ให้ทำกระบวนการนี้ไปเรื่อยๆ นั่นเอง
- เช่น หากเราต้องการหาผลรวมของจำนวนที่ index ที่ 0, 2, 4, ... ไปเรื่อยๆ ตราบเท่าที่จำนวนนั้นไม่เท่ากับ 7 เราจะเขียนโปรแกรมได้ดังนี้ครับ

In [ ]:
items = [3, 8, 5, 10, 2, 9, 7, 6, 3, 8, 1, 4]
idx = 0
jumping_sum = 0

while idx < len(items) and items[idx] != 7:
    print('Adding', items[idx])
    jumping_sum = jumping_sum + items[idx]
    idx = idx + 2

print('The jumping sum is', jumping_sum)

Adding 3
Adding 5
Adding 2
The jumping sum is 10

## หัวข้อที่ 8: การกำหนดเงื่อนไข

- การกำหนดเงื่อนไขในภาษาไพธอนจะใช้คำสั่ง `if` (แปลว่า 'ถ้า') โดยจะมีรูปแบบดังนี้

```python
if <เงื่อนไข>:
    <กระบวนการ>
```

- โปรแกรมจะทำกระบวนการที่อยู่ในด้านใน ถ้าหากว่าเงื่อนไขที่กำหนดนี้เป็นจริง
- จะสังเกตว่ากระบวนการนี้จะต้องย่อหน้า
  - นั่นเป็นเพราะว่าการเว้นวรรคย่อหน้าจะเป็นการบอกสโคป (scope) ของคำสั่ง ว่าเป็นกระบวนการที่อยู่ภายใต้คำสั่งที่อยู่ด้านนอก
  - การกำหนดเงื่อนไขก็จะทำงานเฉพาะภายใน scope ของตัวเองเท่านั้นครับ
- เช่น โปรแกรมด้านล่างนี้จะพิมพ์ข้อความ `'Hurray!'` ถ้าหากว่าเงินเดือนในตัวแปร `salary` มีค่ามากกว่า 10,000 บาท

In [ ]:
salary = 10001

if salary > 10000:
    print('Hurray!')

Hurray!

- ทดลองเปลี่ยนค่าตัวเลขของตัวแปร `salary` แล้วรันใหม่ดู

### รูปแบบของเงื่อนไข
- เราสามารถใช้เครื่องหมายเปรียบเทียบทางคณิตศาสตร์ได้เหมือนในวิชาคณิตศาสร์

| เครื่องหมาย | ความหมาย |           ตัวอย่าง           |
|:---------:|:--------:|:--------------------------:|
|    `<`    |  น้อยกว่า  |           `3 < 5`          |
|    `>`    |  มากกว่า  |           `5 > 3`          |
|    `==`   |  เท่ากับ   | `my_salary == your_salary` |
|    `!=`   |  ไม่เท่ากับ | `my_salary != your_salary` |
|    `>=`   |  มากกว่าหรือเท่ากับ   | `my_salary >= your_salary` |
|    `<=`   |  น้อยกว่าหรือเท่ากับ   | `my_salary <= your_salary` |

- ถ้าเราลองพิมพ์ค่าความจริงของเงื่อนไขออกมา เราจะได้เป็นค่า `True` หรือ `False` ซึ่งค่าความจริงก็เป็นข้อมูลประเภทหนึ่งเหมือนกัน เรียกว่า *ค่าตรรกะ* (boolean)  เช่น

In [ ]:
print(0.5 > 0.3)        # True
print(0.25 < -1.0)      # False
print(1.25 == 1.25)     # True
print(1.30 != -0.78)    # True

True
False
True
True

- ทั้งนี้เราสามารถใช้เครื่องหมายเปรียบสามารถใช้ได้กับข้อความได้ด้วย เช่น

In [ ]:
print('hello' == 'hello')       # True
print('hello' != 'world')       # True
print('hello' < 'alphabet')     # False --โปรแกรมเรียงลำดับข้อความตามตัวอักษร

True
True
False

- นอกจากนี้เรายังสามารถใช้ตัวเชื่อมทางตรรกศาสตร์ได้ด้วย

| ตัวเชื่อม    | ความหมาย |           ตัวอย่าง           |
|:---------:|:--------:|:--------------------------:|
|   `and`   |    และ   |     `a == b and x == y`    |
|    `or`   |    หรือ   |     `a != b or c != d`     |
|   `not`   |    ไม่    |    `not (a > b)`    |
|   `( )`   |   วงเล็บ  | `(a == b) and not (c > d)` |

In [ ]:
v1 = 100
v2 = 200
v3 = 300

print(v1 == v2 and v2 == v3)                       # False and False = False
print(v1 + v2 == v3 or v2 + v3 == v1)              # True or False = True
print(not(v1 == v2 and v2 == v3) or v1 == v2)      # not(False and False) or False = True

False
True
True

### แบบฝึกหัด 8.1

1. จงตั้งเงื่อนไขเพื่อให้โปรแกรมพิมพ์ข้อความว่า `'You are tall.'` ถ้าหากว่าความสูงในตัวแปร `my_height` มากกว่า 170

In [ ]:
my_height = 175

if my_height > 170 :
    print('You are tall.')

You are tall.

2. จงตั้งเงื่อนไขเพื่อให้คอมพิวเตอร์พิมพ์ข้อความว่า `'You are wealthy and tall.'` ถ้าหากว่าเงินเดือนในตัวแปร `my_salary` มากกว่า 10000 และความสูงในตัวแปร `my_height` มากกว่า 170

In [ ]:
my_salary = 15000
my_height = 175

if my_salary > 10000 and my_height > 170 :
    print('You are wealthy and tall.')

You are wealthy and tall.

3. แก้โปรแกรมจากข้อ 2 โดยให้ค่า `my_salary` และ `my_height` เป็นค่าที่รับข้อมูลเข้าทางคีย์บอร์ด

In [ ]:
my_salary = int(input('Input your salary: '))
my_height = int(input('Input your height: '))

if my_salary > 10000 and my_height > 170 :
    print('You are wealthy and tall.')

Input your salary: 20000
Input your height: 177
You are wealthy and tall.

4. จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ความสูงของนักเรียนแต่ละคน โดยจะพิมพ์ออกมาเฉพาะคนที่มีความสูงมากกว่า 160 เซนติเมตรเท่านั้น [หมายเหตุ: จะสังเกตว่าโจทย์ข้อนี้จะใช้ทั้งลูปฟอร์และการตั้งเงื่อนไขประกอบกันได้ด้วย]

In [ ]:
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for height in student_heights:
    if height > 160 :
        print(height)

163.5
167.0
161.25
170.0

5. จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ชื่อของนักเรียนแต่ละคนและความสูงออกมา โดยจะพิมพ์ออกมาเฉพาะคนที่ชื่อนำหน้าด้วยตัวอักษรอื่น<u>**ที่ไม่ใช่**</u> `'A'` และ<u>**ไม่ใช่**</u> `'C'` และมีความสูงมากกว่า 160 เซนติเมตรเท่านั้น

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_names)):
    if (student_names[i][0] != 'A') and (student_names[i][0] != 'C') and (student_heights[i]>160) :
        print(student_names[i], ':', student_heights[i])

Dorothy : 161.25
Emily : 170.0

### การกำหนดเงื่อนไขที่มี 2 ทางเลือก
- ในกรณีที่เราต้องการกำหนดเงื่อนไขที่มี 2 ทางเลือก เราสามารถใช้คำสั่ง `if ... else ...` (else แปลว่า 'ไม่เช่นนั้น') ได้
- รูปแบบของเงื่อนไขที่มี 2 ทางเลือก

```python
if <เงื่อนไข> :
    <กระบวนการ 1>
else:
    <กระบวนการ 2>
```

- ความหมายของคำสั่งนี้คือ ถ้าเงื่อนไขนี้เป็นจริง ก็ให้ทำกระบวนการที่ 1 ไม่เช่นนั้นก็ให้ทำกระบวนการที่ 2 แทน
- เช่น โปรแกรมด้านล่างนี้จะพิมพ์ข้อความ `'Hurray!'` ถ้าหากว่าเงินเดือนในตัวแปร `salary` มีค่ามากกว่า 10,000 บาท หรือไม่เช่นนั้นก็พิมพ์ข้อความว่า `'Poor you.'` แทน

In [ ]:
salary = 5000

if salary > 10000:
    print('Hurray!')
else:
    print('Poor you.')

Poor you.

### การกำหนดเงื่อนไขแบบซับซ้อน
- นอกจากนี้ หากเงื่อนไขของโปรแกรมมีความสลับซับซ้อน เช่น การตัดเกรดของนักเรียนที่ต้องทำแบ่งเป็นช่วงชั้น เราสามารถใช้การกำหนดเงื่อนไขแบบซับซ้อน `if ... elif ... else ...` ได้ครับ (`elif` ย่อมาจากคำว่า 'else if' แปลว่า 'ไม่เช่นนั้น ถ้าหาก')
- รูปแบบของการกำหนดเงื่อนไขแบบซับซ้อน

```python
if <เงื่อนไข 1> :
    <กระบวนการ 1>
elif <เงื่อนไข 2> :
    <กระบวนการ 2>
elif <เงื่อนไข 3> :
    <กระบวนการ 3>
    :
    :
    :
else:
    <กระบวนการสุดท้าย>
```

- ความหมายของคำสั่งนี้คือ
  1. ถ้าเงื่อนไข 1 นี้เป็นจริง ก็ให้ทำกระบวนการที่ 1
  2. ไม่เช่นนั้นก็ให้เช็คเงื่อนไข 2 ถ้าเป็นจริง ก็ให้ทำกระบวนการที่ 2
  3. ไม่เช่นนั้นก็ให้เช็คเงื่อนไข 3 ถ้าเป็นจริง ก็ให้ทำกระบวนการที่ 3
  4. เราจะเช็คเงื่อนไขแบบนี้ไปเรื่อยๆ จนกระทั่งไม่เข้าเงื่อนไขใดเลย จึงทำกระบวนการสุดท้าย

- เช่น ถ้าเราจะกำหนดเงื่อนไขเพื่อตัดเกรดของนักเรียน จากคะแนนเต็ม 100 คะแนน
  1. ถ้าได้คะแนน 80 ขึ้นไป จะได้เกรด A
  2. ไม่เช่นนั้น ถ้าได้คะแนน 70 ขึ้นไป จะได้เกรด B
  3. ไม่เช่นนั้น ถ้าได้คะแนน 60 ขึ้นไป จะได้เกรด C
  4. ไม่เช่นนั้น ถ้าได้คะแนน 50 ขึ้นไป จะได้เกรด D
  5. ไม่เช่นนั้น จะได้เกรด F

In [ ]:
score = int(input('Enter your score: '))

if score >= 80:           # score >= 80
    grade = 'A'
elif score >= 70:         # 70 <= score <= 79
    grade = 'B'
elif score >= 60:         # 60 <= score <= 69
    grade = 'C'
elif score >= 50:         # 50 <= score <= 59
    grade = 'D'
else:                     # score < 50
    grade = 'F'

print('Your grade =', grade)

Enter your score: 75
Your grade = B

### คำสั่งออกจากลูป (break) และคำสั่งกระโดดไปสมาชิกตัวถัดไป (continue)

- เราสามารถออกจากลูปได้ด้วยคำสั่ง `break`
- เช่น เราสามารถสั่งให้คอมพิวเตอร์พิมพ์ชื่อนักเรียนและความสูงตามลิสต์ด้านล่างออกมา จนกว่าความสูงจะมากกว่า 165 เซนติเมตรจึงจะหยุด ได้ด้วยคำสั่ง `break`

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_heights)):
    # พิมพ์ชื่อนักเรียนและความสูง
    print(student_names[i], ':', student_heights[i])
    # ถ้าความสูงของนักเรียนคนนั้น > 165 เซนติเมตร ให้ออกจากลูป
    if student_heights[i] > 165.0:
        break

print('That is all.')

Arm : 163.5
Bobby : 150.0
Cathy : 167.0
That is all.

- ส่วนคำสั่ง `continue` จะสั่งให้คอมพิวเตอร์เลิกทำกระบวนการที่กำลังทำกับสมาชิกตัวปัจจุบัน แล้วกระโดดไปสมาชิกตัวถัดไปทันที
- เช่น เราสามารถสั่งให้คอมพิวเตอร์พิมพ์รายชื่อนักเรียนและความสูง แต่หากนักเรียนคนใดที่มีชื่อขึ้นต้นด้วยตัว `'A'` หรือตัว `'C'` ก็จะไม่ต้องพิมพ์ต่อท้ายว่า `blacklisted` ได้ดังนี้

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_heights)):
    # พิมพ์ชื่อนักเรียนและความสูง
    print(student_names[i], ':', student_heights[i], end='')
    # ถ้าชื่อนักเรียนขึ้นต้นด้วยตัว A หรือตัว C ให้ตัดจบ แล้วไปสมาชิกตัวถัดไปทันที
    if student_names[i][0] == 'A' or student_names[i][0] == 'C':
        print()
        continue
    print(' --> blacklisted')

Arm : 163.5
Bobby : 150.0 --> blacklisted
Cathy : 167.0
Dorothy : 161.25 --> blacklisted
Emily : 170.0 --> blacklisted

In [ ]:
secret = 123
a = int(input('Enter secret: '))

while True:
  if secret == a:
    break
  a = int(input('Enter secret: '))

print('You are logged in')

Enter secret: 124
Enter secret: 125
Enter secret: 123
You are logged in

###แบบฝึกหัด 8.2

จงเขียนโปรแกรมเพื่อแสดงรายการนักเรียนที่ได้เกรดตำกว่า 4 ถ้านักเรียนคนใดได้เกรดต่ำกว่า 3 ให้พิมพ์ข้อความเตือน `'warning'` ที่หลังเกรด และให้โปรแกรมหยุดการทำงานเมื่อพบนักเรียนที่ได้เกรดตำกว่า 2

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_scores = [86, 78, 54, 65, 34]
# <50 = 0 , <=60 = 1, <= 70 = 2 , <= 80 = 3 , >80 = 4
for i in range(len(student_names)):
    grade = 0
    # คำนวณเกรดของนักเรียน เก็บใส่ตัวแปร grade ไว้
    if student_scores[i] > 80:
      grade = 4
    elif student_scores[i] > 70:
      grade = 3
    elif student_scores[i] > 60:
      grade = 2
    elif student_scores[i] > 50:
      grade = 1
    else:
      grade = 0
    # ถ้าพบว่านักเรียนได้เกรด 4 ให้กระโดดข้ามไปนักเรียนคนถัดไป โดยใช้คำสั่ง continue
    if grade == 4:
      continue
    # พิมพ์ชื่อนักเรียนและเกรด โดยที่ยังไม่ต้องขึ้นบรรทัดใหม่
    print(student_names[i], ':', grade, end='')
    # ถ้าพบนักเรียนคนใดได้เกรดตำกว่า 3 ให้พิมพ์ข้อความเตือนว่า 'warning' และขึ้นบรรทัดใหม่
    if grade < 3:
      print(' warning')
    # หากพบนักเรียนที่ได้เกรดต่ำกว่า 2 ให้ออกจากลูปทันที โดยใช้คำสั่ง break
    if grade < 2:
      break
    print()

Bobby : 3
Cathy : 1 warning

### แบบฝึกหัด 8.3
จงเก็บรวบรวมของตัวเลขจำนวนเต็มทุกตัวที่ผู้ใช้พิมพ์เข้ามาแล้วเรียงลำดับจากมากไปน้อย

ตราบใดที่ผู้ใช้ยังพิมพ์ตัวเลขที่ไม่ใช่เลข 0 เข้ามา ก็ให้รับค่าตัวเลขมาเรื่อยๆ แล้วเก็บไว้ในลิสต์ `my_numbers` หากเจอเลข 0 ให้หยุดลูปทันที จากนั้นให้จัดเรียงสมาชิกตามลำดับจากมากไปน้อย แล้วแสดงผลลิสต์นั้นออกมา

In [ ]:
my_numbers = []

# วนลูปตลอดไปจนกว่าจะถูกสั่ง break
while True:
    num = int(input('Enter an integer: '))

    # หากค่า num เป็น 0 ให้ออกจากลูปด้วยคำสั่ง break
    if num == 0:
      break

    # นำค่า num ไปต่อท้ายลิสต์ my_numbers
    my_numbers.append(num)

# เรียงลำดับสมาชิกในลิสต์ my_numbers จากมากไปน้อยด้วยคำสั่ง sort
my_numbers.sort(reverse=True)

print(my_numbers)

Enter an integer: 3
Enter an integer: 1
Enter an integer: 7
Enter an integer: 0
[7, 3, 1]

- สังเกตว่าคำสั่ง `while True` จะใช้ในการวนลูปตลอดไป (forever loop) ซึ่งจะมีประโยชน์ในกรณีที่จำเป็นต้องตรวจสอบเงื่อนไขในขณะทำกระบวนการนั่นเอง

## หัวข้อที่ 9: การอ่านและเขียนไฟล์

### การเปิดไฟล์และปิดไฟล์

- เราสามารถเปิดไฟล์ได้โดยใช้คำสั่ง `open(ชื่อไฟล์, ข้ออนุญาต)` โดยเราจะต้องนำตัวแปร 1 ตัว (ซึ่งเรียกว่า file handler) มารับตัวแทนไฟล์นั้นเอาไว้ เราจะได้นำไฟล์ไปใช้งานต่อได้

- ข้ออนุญาตในการใช้ไฟล์ที่ใช้กันทั่วไป มีอยู่ด้วยกัน 3 ประเภท
  - ข้ออนุญาตประเภท `'r'` คืออ่านข้อมูลอย่างเดียวเท่านั้น
  - ข้ออนุญาตประเภท `'w'` คือเขียนข้อมูลทับอย่างเดียวเท่านั้น
  - ข้ออนุญาตประเภท `'a'` คือเขียนข้อมูลต่อท้ายอย่างเดียวเท่านั้น
  
- เมื่อใช้ไฟล์เสร็จแล้ว เราควรสั่งปิดไฟล์ได้ด้วยคำสั่ง `ไฟล์.close()`
- <u>**ข้อควรระวัง:**</u> ถ้าไม่ปิดไฟล์หลังใช้งานเสร็จ ข้อมูลที่เราสั่งเขียนลงไปอาจจะหายไปหมดก็ได้

In [ ]:
fhdl = open('test_file_1.txt', 'w')         # fhdl ย่อมาจากคำว่า file handler
fhdl.close()

### การเขียนข้อมูลลงไฟล์

- เราสามารถเขียนข้อมูลลงไฟล์ได้ด้วยคำสั่ง `ไฟล์.write(สตริง)`
- โปรดสังเกตว่า ข้อมูลที่เขียนลงไฟล์จะต้องอยู่ในรูปแบบของสตริงเสมอ
- หากเราต้องการเขียนข้อมูลลงไฟล์ 1 บรรทัด เราต้องใส่เครื่องหมายขึ้นบรรทัดใหม่ `\n` เองด้วย

In [ ]:
fhdl = open('test_file_1.txt', 'w')

for i in range(1, 11):
    fhdl.write(f'{i*10}\n')

fhdl.close()

### การอ่านข้อมูลทีละ 1 บรรทัดจากไฟล์

- เราสามารถอ่านข้อมูลทีละ 1 บรรทัดจากไฟล์ได้ด้วยการวนลูปฟอร์
```python
    for <บรรทัด> in <ไฟล์> :
        <กระบวนการ>
```

- จะสังเกตได้ว่า ทุกบรรทัดที่อ่านออกมาจากไฟล์ด้วยลูปฟอร์ จะมีเครื่องหมายขึ้นบรรทัด `\n` ติดมาด้วยเสมอ

In [ ]:
fhdl = open('test_file_1.txt', 'r')

for line in fhdl:
    print(line.strip())

fhdl.close()

10
20
30
40
50
60
70
80
90
100

- ดังนั้นปกติแล้ว เราจะสั่ง `สตริง.strip()` แต่ละบรรทัดด้วย เพื่อกำจัดเครื่องหมายเว้นวรรคและขึ้นบรรทัดใหม่ที่ด้านซ้ายและขวาออกไปครับ

- เช่น ถ้าเราต้องการจะอ่านตัวเลขในไฟล์ `test_file_1.txt` ออกมาแล้วหาผลรวม เราจะเขียนโปรแกรมได้ดังนี้

In [ ]:
fhdl = open('test_file_1.txt', 'r')

my_sum = 0

for line in fhdl:
    numstr = line.strip()       # กำจัดเว้นวรรคและขึ้นบรรทัดใหม่ซ้ายขวาทิ้งไป
    my_sum = my_sum + int(numstr)

fhdl.close()

print(my_sum)

550

### การอ่านไฟล์ทุกบรรทัดในคราวเดียว

- นอกจากนี้เรายังสามารถอ่านไฟล์ทุกบรรทัดได้ในคราวเดียวด้วยคำสั่ง `ไฟล์.readlines()`

- จะสังเกตได้ว่า ทุกบรรทัดก็ยังคงติดเครื่องหมายขึ้นบรรทัดใหม่เอาไว้ โปรดระมัดระวังการใช้งานข้อมูลแต่ละบรรทัดด้วย
-ทั้งนี้ เราสามารถกำจัดเครื่องหมายเว้นวรรคและขึ้นบรรทัดใหม่ที่อยู่ด้านซ้ายและขวาในแต่ละบรรทัดได้ด้วยคำสั่ง `strip()` เช่นเคย

In [ ]:
fhdl = open('test_file_1.txt', 'r')
lines = fhdl.readlines()
fhdl.close()
print(lines)

for i in range(len(lines)):
    lines[i] = lines[i].strip()

print(lines)

['10\n', '20\n', '30\n', '40\n', '50\n', '60\n', '70\n', '80\n', '90\n', '100\n']
['10', '20', '30', '40', '50', '60', '70', '80', '90', '100']

### การแตกสตริง (tokenization)

- เราสามารถแบ่งสตริงออกเป็นลิสต์ของคำด้วยเครื่องหมายเว้นวรรคได้ด้วยคำสั่ง `สตริง.split()`

In [ ]:
tokens = 'hello i am glad to be here'.split()
print(tokens)

['hello', 'i', 'am', 'glad', 'to', 'be', 'here']

- ไม่ว่าจะเว้นวรรคสักกี่ครั้ง คำสั่ง `split()` ก็ยังสามารถแบ่งสตริงออกเป็นลิสต์ของคำได้

In [ ]:
tokens = '   hello     i    am glad    to be   here   '.split()
print(tokens)

['hello', 'i', 'am', 'glad', 'to', 'be', 'here']

- นอกจากนี้เรายังสามารถระบุเครื่องหมายตัดสตริง (delimiter) ได้อีกด้วย
- เช่น หากเราต้องการตัดสตริงด้วยเครื่องหมาย `,` เราจะใช้คำสั่งดังนี้

In [ ]:
tokens = '533-7855,536-2313,524-7306'.split(',')
print(tokens)

['533-7855', '536-2313', '524-7306']

- แต่หากระบุเครื่องหมายตัดสตริง คำสั่ง `split()` จะยอมปล่อยให้มีสตริงว่างเกิดขึ้นได้ด้วย หากว่ามีเครื่องหมายตัดสตริงปรากฏขึ้นติดกันหลายครั้ง

In [ ]:
tokens = '533-7855,,536-2313,,,,524-7306'.split(',')
print(tokens)

['533-7855', '', '536-2313', '', '', '', '524-7306']

### การเชื่อมลิสต์ของสตริง

- เราสามารถเชื่อมลิสต์ของสตริงเข้าด้วยกันโดยใช้คำสั่ง `สตริงเชื่อม.join(ลิสต์ของสตริง)`

In [ ]:
words = ['hello', 'i', 'am', 'glad', 'to', 'be', 'here']
print('<->'.join(words))

hello<->i<->am<->glad<->to<->be<->here

In [ ]:
nums = [1,2,3,4,5]
str_nums = map(str, nums)
print(','.join(str_nums))

1,2,3,4,5

- หากเราเชื่อมลิสต์ของสตริงด้วยสตริงว่าง ผลที่ได้คือทุกสตริงในลิสต์จะเชื่อมติดกันหมด

In [ ]:
words = ['hello' , 'i', 'am', 'glad', 'to', 'be', 'here']
print(''.join(words))

### แบบฝึกหัด 9.1

จงรับตัวเลข 1 ตัวจากผู้ใช้ แล้วสร้างไฟล์ `test_file_3.txt` ดังตัวอย่างต่อไปนี้

```
Enter n: 5
```

ส่วนตรงนี้คือเนื้อหาของไฟล์ที่ได้จากค่าอินพุต `n`
```
50      40      30      20      10      
40      30      20      10      
30      20      10      
20      10      
10      
```
โดยตัวเลขทุกตัวจะต้องมีความกว้าง 10 ตัวอักษรชิดซ้าย

In [ ]:
f = open('test_file_3.txt', 'w')
n = int(input('Enter n: '))

for i in range(n,0,-1):
  for j in range(i,0,-1):
    f.write(f'{j*10:<10}')
  f.write('\n')

f.close()

Enter n: 10

ท่านสามารถตรวจสอบผลลัพธ์ได้จากการรันโปรแกรมด้านล่างนี้

In [ ]:
ifhdl = open('test_file_3.txt', 'r')
for line in ifhdl:
    print(line.strip())
ifhdl.close()

100       90        80        70        60        50        40        30        20        10
90        80        70        60        50        40        30        20        10
80        70        60        50        40        30        20        10
70        60        50        40        30        20        10
60        50        40        30        20        10
50        40        30        20        10
40        30        20        10
30        20        10
20        10
10

### แบบฝึกหัด 9.2

จงอ่านไฟล์ `test_file_3.txt` จากแบบฝึกหัด 9.1 แล้วหาผลรวมของตัวเลขในแต่ละบรรทัด เช่น ถ้าไฟล์ `test_file_3.txt` มีเนื้อหาเป็นดังนี้
```
50      40      30      20      10      
40      30      20      10      
30      20      10      
20      10      
10      
```
เราจะได้ผลลัพธ์ดังต่อไปนี้
```
150
100
60
30
10
```

In [ ]:
ifhdl = open('test_file_3.txt', 'r')
for line in ifhdl:
    print(sum(list(map(int, line.split()))))
ifhdl.close()

550
450
360
280
210
150
100
60
30
10